
.auth__box-container {
 
	max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

}

.auth__box {
    border-radius: 5px;
    color: $primary;
}

.auth__logo {
    width: 22em;
   
}

