
.btn-outline-info {
    color: $primary;
    border-color: $primary;
}

.button:hover {
        color: #ffff;
        background-color: $primary !important;
    
}

.button__container-handleLogin {
    padding: 0;
    margin-top: 10px;
}

.button__handleLogin {
    color: $primary;
    text-decoration: none;
}